[submodule "blocks/block-ai-intro-core"]
	path = blocks/block-ai-intro-core
	url = git@github.com:gu-ma/block-ai-intro-core.git
[submodule "blocks/block-ai-image-generation"]
	path = blocks/block-ai-image-generation
	url = git@github.com:gu-ma/block-ai-image-generation.git
[submodule "blocks/block-ai-text-generation"]
	path = blocks/block-ai-text-generation
	url = git@github.com:gu-ma/block-ai-text-generation.git
[submodule "blocks/block-ai-audio-generation"]
	path = blocks/block-ai-audio-generation
	url = git@github.com:gu-ma/block-ai-audio-generation.git
[submodule "blocks/block-ai-browser"]
	path = blocks/block-ai-browser
	url = git@github.com:gu-ma/block-ai-browser.git
